{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rentals list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Payment</th>
                <th>Method</th>
                <th>Datestart</th>
                <th>Dateend</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rental in rentals %}
            <tr>
                <td><a href="{{ path('rental_show', { 'id': rental.id }) }}">{{ rental.id }}</a></td>
                <td>{% if rental.date %}{{ rental.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ rental.payment }}</td>
                <td>{{ rental.method }}</td>
                <td>{% if rental.dateStart %}{{ rental.dateStart|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if rental.dateEnd %}{{ rental.dateEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('rental_show', { 'id': rental.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('rental_edit', { 'id': rental.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rental_new') }}">Create a new rental</a>
        </li>
    </ul>
{% endblock %}
