{% extends "MigoAdminTemplateBundle:Template:layout.html.twig" %}

{% block content_header %}
<section class="content-header">
    <h1>
        Cuentas
        <small>Lista de Cuentas</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#">Cuentas</a></li>
        <li class="active">Lista de Cuentas</li>
    </ol>
</section>
{% endblock %}

{% block main_content %}
<div class="col-md-12">
    {% embed "MigoAdminTemplateBundle:Template:panel.html.twig" with {boxstyle: 'primary caja-border', box_style: 'min-height: 500px; padding: 20px; '} %}
    {% block header %}{% endblock %}
    {% block body %}
    <div style="float: left; width: 100%; height: auto; overflow-x: auto; padding: 10px;">
    <table class="table table-bordered table-hover dataTable table-datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Roles</th>
                <th>Username</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Activo</th>
                <th>Registro</th>
                <th>Modificacion</th>
                <th>Créditos</th>
                <th style="text-align: center;">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>
                    {% if 'ROLE_ADMIN' in user.roles|join('') %}
                        Admin
                    {% elseif 'ROLE_MAYORISTA' in user.roles|join('') %}
                        Mayorista
                    {% elseif 'ROLE_MODERADOR' in user.roles|join('') %}
                        Moderador
                    {% endif %}
                </td>
                <td>{{ user.username }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.isActive %}Yes{% else %}No{% endif %}</td>
                <td>{% if user.createdAt %}{{ user.createdAt|date('Y-m-d') }}{% endif %}</td>
                <td>{% if user.updatedAt %}{{ user.updatedAt|date('Y-m-d') }}{% endif %}</td>
                <td>{{ user.monto }}</td>
                <td style="text-align: center;">
                    <a class="btn btn-info btn-sm" href="{{ path('user_edit', { 'id': user.id }) }}" title="Editar Usuario" style="padding: 5px;"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-danger btn-sm" href="{{ path('user_delete', { 'id': user.id }) }}" title="Borrar Usuario" style="padding: 5px;"><i class="fa fa-user-times"></i></a>
                    <a class="btn btn-success btn-sm" href="{{ path('credits_history_user', { 'id': user.id }) }}" title="Hitorial de Creditos" style="padding: 5px;"><i class="fa fa-book"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <a href="{{ path('user_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Crear Nuevo</a>
    {% endblock %}
    {% endembed %}
</div>
{% endblock %}

{% block javascript_footer %}
    <script src="{{ PUBLIC }}{{ asset('/bundles/migoresellerbase/js/user.js') }}"></script>
{% endblock %}
