{% extends "MigoAdminTemplateBundle:Template:layout.html.twig" %}

{% block css %}
{% endblock %}

{% block content_header %}
<section class="content-header">
    <h1>
        Usuarios
        <small>Crear Usuarios</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#">Usuarios</a></li>
        <li class="active">Crear Usuarios</li>
    </ol>
</section>
{% endblock %}

{% block main_content %}
<div class="col-md-12">
    {% embed "MigoAdminTemplateBundle:Template:panel.html.twig" with {boxstyle: 'primary caja-border', box_style: 'min-height: 500px; padding: 20px; '} %}
    {% block header %}{% endblock %}
    {% block body %}
        
        <div class="col-md-3"></div>
        <div class="col-md-6">

        <form name="migo_lotery_basebundle_agencia" method="post" id="form_user_cuenta" action="{{ SERVER }}/admin/user/new">
                    <div class="form-group">
                        <div class="col-sm-4"><label>Username:</label></div>
                        <div class="col-sm-8"><input type="text" id="usuario" name="usuario" required="required" maxlength="50" class="form-control" placeholder="Tu Usuario" value="{{data.usuario}}"  autocomplete="off"></div>
                        <div class="corte"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4"><label>Nombre:</label></div>
                        <div class="col-sm-8"><input type="text" id="nombre" name="nombre" required="required" maxlength="50" class="form-control" placeholder="Tu Nombre" value="{{data.nombre}}"></div>
                        <div class="corte"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4"><label>Apellido:</label></div>
                        <div class="col-sm-8"><input type="text" id="apellido" name="apellido" required="required" maxlength="50" class="form-control" placeholder="Tu Apellido" value="{{data.apellido}}"></div>
                        <div class="corte"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4"><label>Email:</label></div>
                        <div class="col-sm-8"><input type="text" id="email" name="email" required="required" maxlength="50" class="form-control" placeholder="Tu Email" value="{{data.email}}" autocomplete="off"></div>
                        <div class="corte"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4"><label>Clave:</label></div>
                        <div class="col-sm-8"><input type="password" id="password" name="password" required="required" maxlength="50" class="form-control" placeholder="Tu Clave" value="" autocomplete="off"></div>
                        <div class="corte"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4"><label>Tipo:</label></div>
                        <div class="col-sm-8">
                            <select class="form-control" name="role_id">
                                <option value="1">Admin</option>  
                                <option value="2">Moderador</option>
                                <option value="3">Revendedor</option>
                            </select>
                        </div>
                        <div class="corte"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4"><label>Estatus:</label></div>
                        <div class="col-sm-8">
                            <select class="form-control" name="estatus">
                                <option value="0">Inactiva</option>
                                <option value="1">Vigente</option>
                            </select>
                        </div>
                        <div class="corte"></div>
                    </div>
                    {% for error in data.errors %}
                        <script type="text/javascript">
                            notificar.error('{{ error.message }}');
                        </script>
                    {% endfor %}
                    <div class="col-sm-4 pull-right"><button class="btn btn-primary pull-right" type="submit"><i class="fa fa-plus"></i> <span id="button-enviar">Guardar Datos</span></button></div>
                    <div style="clear: both;"></div>
                </form>
                <div style="clear: both;"></div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="col-md-3"></div>
        <div style="clear: both;"></div>
        <br><br>
        <a href="{{ path('user_index') }}" class="btn btn-default"><i class="fa fa-reply"></i> Volver a Listado</a>
        <div style="clear: both;"></div>
    {% endblock %}
    {% endembed %}
</div>
{% endblock %}

{% block javascript_footer %}
{% endblock %}
