{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sales list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Method</th>
                <th>Datestart</th>
                <th>Dateend</th>
                <th>Months</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                <td><a href="{{ path('sale_show', { 'id': sale.id }) }}">{{ sale.id }}</a></td>
                <td>{% if sale.date %}{{ sale.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ sale.method }}</td>
                <td>{% if sale.dateStart %}{{ sale.dateStart|date('Y-m-d') }}{% endif %}</td>
                <td>{% if sale.dateEnd %}{{ sale.dateEnd|date('Y-m-d') }}{% endif %}</td>
                <td>{{ sale.months }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sale_show', { 'id': sale.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('sale_edit', { 'id': sale.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sale_new') }}">Create a new sale</a>
        </li>
    </ul>
{% endblock %}
