{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sale</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sale.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if sale.date %}{{ sale.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Method</th>
                <td>{{ sale.method }}</td>
            </tr>
            <tr>
                <th>Datestart</th>
                <td>{% if sale.dateStart %}{{ sale.dateStart|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateend</th>
                <td>{% if sale.dateEnd %}{{ sale.dateEnd|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Months</th>
                <td>{{ sale.months }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sale_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sale_edit', { 'id': sale.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
