{% extends "MigoAdminTemplateBundle:Template:layout.html.twig" %}

{% block content_header %}
<section class="content-header">
    <h1>
        Soporte
        <small>Solicitar de Soporte</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#">Soporte</a></li>
        <li class="active">Solicitar de Soporte</li>
    </ol>
</section>
{% endblock %}

{% block main_content %}
<div class="col-md-12">
    {% embed "MigoAdminTemplateBundle:Template:panel.html.twig" with {boxstyle: 'primary caja-border', box_style: 'min-height: 500px; padding: 20px; '} %}
    {% block header %}{% endblock %}
    {% block body %}

    <div class="col-md-3"></div>
    <div class="col-md-6">
    <form name="migo_lotery_basebundle_agencia" method="post" id="form_user_cuenta" action="{{ SERVER }}/mayorista/support/new">
        <div class="form-group">
            <div class="col-sm-4"><label>Motivo:</label></div>
            <div class="col-sm-8">
                <select name="operation" required="required" class="form-control">
                    <option>Adquirir Cuentas</option>
                    <option>Recagrgar Créditos</option>
                    <option>Realizar Ventas</option> 
                </select>
            </div>
            <div class="corte"></div>
        </div>
        <div class="form-group">
            <div class="col-sm-4"><label>Nota:</label></div>
            <div class="col-sm-8"><textarea name="note" required="required" maxlength="255" class="form-control"></textarea></div>
            <div class="corte"></div>
        </div>
        <button type="submit" class="btn btn-primary pull-right" style="margin-top: 50px;"><i class="fa fa-save"></i> Enviar Solicitud</button>
    </form>
    </div>
    <div class="col-md-3"></div>
        <div style="clear: both;"></div>
        <br><br>
        <a href="{{ path('revendedor_support_index') }}" class="btn btn-default"><i class="fa fa-reply"></i> Volver a Listado</a>
    {% endblock %}
    {% endembed %}
</div>
{% endblock %}

{% block javascript_footer %}
{% endblock %}
