{% extends 'base.html.twig' %}

{% block body %}
    <h1>Supports list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Operation</th>
                <th>Note</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for support in supports %}
            <tr>
                <td><a href="{{ path('support_show', { 'id': support.id }) }}">{{ support.id }}</a></td>
                <td>{{ support.operation }}</td>
                <td>{{ support.note }}</td>
                <td>{% if support.date %}{{ support.date|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('support_show', { 'id': support.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('support_edit', { 'id': support.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('support_new') }}">Create a new support</a>
        </li>
    </ul>
{% endblock %}
