{% extends 'base.html.twig' %}

{% block body %}
    <h1>Support</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ support.id }}</td>
            </tr>
            <tr>
                <th>Operation</th>
                <td>{{ support.operation }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ support.note }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if support.date %}{{ support.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('support_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('support_edit', { 'id': support.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
