body{
    background-color: #ecf0f5;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/carga.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

input[type=checkbox]{
    cursor: pointer;
}

.modal-title{
    text-transform: uppercase;
}

table.table-bordered tbody td{
    font-size: 12px;
}

.caja-border{
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}
.jq-toast-wrap.top-right {
    top: 65px;
    right: 15px;
}

.main-header .navbar {
    min-height: 35px !important;
}

.navbar-brand {
    height: 20px !important;
    padding: 11px 5px !important;
    font-size: 14px;
    line-height: 0px;
    font-weight: bold;
}

.navbar-toggle {
    padding: 8px 8px;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 0px;
    height: 36px;
}

.navbar-nav>li>a {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    color: #fff;
}

.navbar {
    margin-bottom: 0px;
    background: none !important;
    background: #18BC9C !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.nav li a:hover, .nav li a:focus{
    background: #444 !important;
    color: #fff;
}

.dropdown-menu li a:hover{
    background: #e1e3e9 !important;
}

.navbar-nav>li.active{
    background: #73cfbd;
}

.skin-blue .main-header li.user-header {
    background: #18BC9C;
}

.border-radius {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

.border-bottom{
    border-bottom: solid 1px #cecece;
}

.bg-f1{
    background-color: #f1f1f1 !important;
}

.navbar-default {
    
}

.sidebar-nav a {
    text-decoration: none;
}

.header{
    padding: 0px;
    margin: 0px;
    margin-bottom: 4px;
}

.breadcrumb {
    background-color: #fff;
}

#line-chart {
    height:300px;
    width:800px;
    margin: 0px auto;
    margin-top: 1em;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover { 
    color: #fff;
}

.dataTables_length, .dataTables_filter, .dt-buttons {
    position: relative;
    float: left;
    width: auto;
}

.dataTables_filter, .dt-buttons {
    float: right !important;
}

td.row-action {
    cursor: pointer;
}

tr.row-action:hover {
    background-color: #eee;
}

.main-content{
    min-height: 700px;
}
.box {
    box-shadow: none !important;
}

.border-solid {
    border: solid 1px #cecece;
}

.lista,
.titulo_animal
{
    float: left;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    height: auto;
    min-height: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12px;
    cursor: pointer;
}

.titulo_animal span,
.lista span{
    margin-top: 5px;
    float: left;
    margin-left: 5px;
}

.titulo_animal span{
    margin-top: 0px;
}

.titulo_animal span.icono-right{
    margin-top: 3px;
}

.lista span.icono-right{
    margin-top: 8px;
}

.lista .btn-group
{
    margin-right: -0px; 
}

.titulo_animal .btn-group
{
    margin-right: -5px;
    margin-top: -5px; 
}

.lista{
    border: solid 1px #ffffff;
}

.lista:hover, .lista-hover{
    background-color: #f1f1f1;
    cursor: pointer;
}

.lista-titulo, .lista-titulo:hover{
    float: left;
    margin-left: -8px;
    margin-right: -8px;
    width: calc(100% + 16px);
    padding-left: 10px;
    padding-right: 11px;
    height: auto;
    min-height: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    background-color: #f1f1f1;
    border-top: solid 1px #cecece;
    border-bottom: solid 1px #cecece;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #333;
    cursor: normal;
}

.lista_jugada{
    float: left;
    width: 100%;
    height: auto;
    min-height: 20px;
    padding: 2px;
    font-size: 10px;
    border-bottom: solid 1px #f7f7f7;
    padding-left: 6px;
}

.jugada_titulo{
    border-bottom: solid 3px #cecece;
    color: #337ab7;
    padding-top: 3px;
    padding-bottom: 2px;
    background: #f1f1f1;
    font-size: 12px !important;
}

.jugada_aplicada p{
    margin: 0 auto;
}

.jugada_loteria,
.jugada_sorteo,
.jugada_jugada,
.jugada_monto,
.jugada_loteria,
.jugada_borrar,
.jugada_borrar_titulo
{
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
}

.jugada_loteria{
    width: 28%;
    padding-left: 2%;
}

.jugada_borrar_titulo{
    width: 10%;
}

.jugada_borrar{
    width: 10%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.jugada_borrar button{
    font-size: 8px;
}

.jugada_sorteo, .jugada_jugada, .jugada_monto{
    width: 15%;
}

.jugada_jugada{
    width: 25%;
}
.jugada_borrar{
    text-align: center;
}

.jugada_contenedor, .sorteo_contenedor, .sorteo_contenedor_titulo{
    border: solid 1px #cecece;
    overflow-y: auto;
    height: 420px;
    border-top: solid 3px #cecece;
    margin-top: -9px;
    background: #fff;
    padding-right: 0px;
    padding-left: 0px;
}

.sorteo_contenedor_titulo{
    height: auto;
}

.sorteo_contenedor{
    margin-top: 0px;
    height: 387px;
}

.sorteo_contenedor input, .sorteo_contenedor_titulo input{
    float: left;
    margin-top: 6px;
    margin-left: 6px;
    margin-right: 6px;
}

.sorteo_contenedor .lista span{
    font-weight: bold;
}

.jugada{
    padding: 10px;
    border: solid 1px #cecece;
    font-weight: bold;
    font-size: 14px;
}

.disabled{
    background-color: #f7f7f7;
}

.jugada_disponible,
.jugada_animales
{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    padding-bottom: 5px;
    overflow-y: auto;
    height: 480px;
    border: solid 1px #cecece;
    border-top: solid 2px #cecece;
    font-weight: bold;
    overflow-x:hidden;
    background: #fff;
}

.jugada_animales{
    display: none;
    height: auto;
    min-height: 480px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.jugada_animales .col-xs-6,
.jugada_animales .col-xs-4,
.jugada_animales .col-xs-3{
    padding: 1px;
}

.jugada_animales .row{
    margin-right: -7px;
    margin-left: -7px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: solid 1px #cecece;
    border-bottom: solid 1px #cecece;
}

.jugada_animales_disponibles{
    display: none;
}

.jugada_animales_disponibles img{
    width: 100%;
    height: 30px;
    cursor: pointer;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: solid 1px #cecece;
}

.jugada_animales_disponibles img:hover{
    border: solid 1px #999999;
}

.jugada_animales_disponibles .animal_disponible{
    margin-top: 1px;
}

.pointer{
    cursor: pointer;
}

.dropdown a {
    color: #ffffff !important;
}

.dropdown ul a {
    color: #777 !important;
}

.mostrar-tiket{
    font-size: 11px !important;
    width: 240px;
    margin: 0 auto;
    padding: 5px;
    border: dashed 2px #666666;
    background: #f7f7f7;
}

.hr-2{
    border-top: 1px dashed #666666;
    border-bottom: 1px dashed #666666;
    height: 5px;
}
.save-tiket-message{
    padding-top: 8px;
    font-weight: bold;
}

.lg-ocultar {
    display: none;
}

.lg-lista{
    font-size: 12px;
}

.guardar-tiket, .limpiar-jugada{
    margin-left: -20px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: -6px;
}

.limpiar-jugada{
    margin-left: 10px;
}

#monto, #jugada{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.btn-success {
    color: #fff;
    background-color: #44c767;
    border-color: #5cbf2a;
}

.btn-success:hover {
    background-color:#5cbf2a;
}

.label-success {
    background-color: #5cbf2a !important;
}

.acciones {
    padding: 0px;
    padding-left: 8px;
    padding-right: 8px;
}

.page-title{
    float: left;
    width: auto;
    padding-top: 5px !important;
}

.breadcrumb{
    float: right;
    width: auto;
    margin-bottom: 15px;
}

.ocultar{
    display: none;
}

.mostrar{
    display: block;
}

label.error{
    font-weight: normal;
    padding-top: 5px;
    color: #dd4b39;
}

.margin-login{
    padding-top: 100px;
}

.ocultando{
    display: none;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.modal-title{
    text-align: center !important;
    font-weight: bold;
}

.campos{
    width: 45%;
    float: left;
}

.main-header .navbar{
    margin: 0px;
}

.content-full {
    margin: 0px;
    float: left;
    width: 100%;
    border: none;
}

.corte{
    clear: both;
}

.monto_total{
    border: solid 1px #cccccc;
    padding: 12px;
    font-weight: bold;
    margin-top: -5px;
    background: #eee;
}

.seleccionar-loteria{
    float: left;
    margin-left: -8px;
    margin-right: -8px;
    width: calc(100% + 16px);
}

@media (max-width: 990px) {
    .md-ocultar {
        display: none;
    }
    .lista,.lista:hover, .lista-titulo, .lista-titulo:hover{
        font-size: 12px !important;
    }
    .acciones {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (min-width: 770px) {

}

@media (max-width: 770px) {
    .ocultar-770{
        display: none;
    }

    .margin-login{
        padding-top: 50px;
    }
    .margin-top-770{
        margin-top: 20px;
    }
}

@media (max-width: 400px) {
    .margin-login{
        padding-top: 20px;
    }
}