{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sexes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sex in sexes %}
            <tr>
                <td><a href="{{ path('sex_show', { 'id': sex.id }) }}">{{ sex.id }}</a></td>
                <td>{{ sex.name }}</td>
                <td>{{ sex.value }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sex_show', { 'id': sex.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('sex_edit', { 'id': sex.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sex_new') }}">Create a new sex</a>
        </li>
    </ul>
{% endblock %}
