{% extends "MigoAdminTemplateBundle:Template:layout.html.twig" %}
{% block css %}
    <link rel="stylesheet" href="{{ PUBLIC }}/bundles/migoadmintemplate/css/login.css">
{% endblock %}
{% block wraper %}

<div class="wrapper">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active" style="border-color: #18BC9C !important;"> Ingresar Tus datos </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{{ PUBLIC }}/bundles/migoresellerfront/img/profile.png" id="icon" alt="User Icon" style="width: 50%; margin-top: 20px; margin-bottom: 20px;" />
    </div>

    <!-- Login Form -->
    <form action="login_check" method="post" accept-charset="utf-8" autocomplete="off">
      <input type="text" id="login" class="fadeIn second" name="_username" placeholder="Email" required="required">
      <input type="password" id="password" class="fadeIn third" name="_password" placeholder="Password" required="required">
      <input type="hidden" name="_target_path" value="login_check" />
      <input type="submit" class="fadeIn fourth" value="Ingresar" id="ingresar" onclick="this.value='espere...';" style="background-color: #18BC9C !important;">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      {% if error %}
      <p style="font-weight: bold; font-size: 16px;">
      Usuario o contraseña inválidos  
      </p>
      <script type="text/javascript">
        notificar.error('<br>Usuario o contraseña inválidos');
        $('#login').focus();
        $('#password').focus();
      </script>
      {% endif %}
    </div>

  </div>
</div>
{% endblock %}
{% block javascript_footer %}
{% endblock %}
