{% extends "MigoAdminTemplateBundle:Template:layout.html.twig" %}

{% block content_header %}
<section class="content-header">
    <h1>
        Cuentas
        <small>Mis Compras</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#">Cuentas</a></li>
        <li class="active">Mis Compras</li>
    </ol>
</section>
{% endblock %}

{% block main_content %}
<div class="col-md-12">
    {% embed "MigoAdminTemplateBundle:Template:panel.html.twig" with {boxstyle: 'primary caja-border', box_style: 'min-height: 500px; padding: 20px; '} %}
    {% block header %}{% endblock %}
    {% block body %}

        <table class="table table-bordered table-hover dataTable table-datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Producto</th>
                <th>Cuenta</th>
                <th>Perfiles</th>
                <th>Clave</th>
                <th>Monto</th>
                <th>Método</th>
                <th>Meses</th>
                <th>Venta</th>
                <th>Vencimiento</th>
            </tr>
        </thead>
        <tbody>
        {% for rental in rentals %}
            <tr>
                <td>{{ rental.id }}</td>
                <td>{% if rental.date %}{{ rental.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ rental.account.getProduc() }}</td>
                <td>{{ rental.account }}</td>
                <td>{{ rental.account.getProduc().getRental() }}</td>
                <td>{{ rental.account.getPassword() }}</td>
                <td>{{ rental.account.getMonto() * rental.months }}</td>
                <td>{{ rental.method }}</td>
                <td>{{ rental.months }}</td>
                <td>{% if rental.dateStart %}{{ rental.dateStart|date('Y-m-d') }}{% endif %}</td>
                <td>{% if rental.dateEnd %}{{ rental.dateEnd|date('Y-m-d') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('revendedor_rental_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Solicitar Nueva</a>
    {% endblock %}
    {% endembed %}
</div>
{% endblock %}

{% block javascript_footer %}
    <script src="{{ PUBLIC }}{{ asset('/bundles/migoresellerbase/js/clientes.js') }}"></script>
{% endblock %}
