{% extends "MigoAdminTemplateBundle:Template:layout.html.twig" %}

{% block content_header %}
<section class="content-header">
    <h1>
        Ventas
        <small>Registrar Ventas</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#">Ventas</a></li>
        <li class="active">Registrar Ventas</li>
    </ol>
</section>
{% endblock %}

{% block main_content %}
<div class="col-md-12">
    {% embed "MigoAdminTemplateBundle:Template:panel.html.twig" with {boxstyle: 'primary caja-border', box_style: 'min-height: 500px; padding: 20px; '} %}
    {% block header %}{% endblock %}
    {% block body %}
    <div class="col-md-3"></div>
    <div class="col-md-6">
    {{ form_start(form) }}
        <div class="form-group">
            <label>Cuenta</label>
            <select class="form-control"  name="account" required="required">
            {% for account in accounts %}
            <option value="{{ account.id }}">{{ account.produc }}</option>
            {% endfor %}
            </select>
        </div>
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary pull-right" style="margin-top: 50px;"><i class="fa fa-save"></i> Guardar datos</button>
    {{ form_end(form) }}
    {% if saldo < 0 %}
      <script type="text/javascript">
        notificar.error('Revendedor con saldo suficiente para realizar la compra.');
      </script>
      {% endif %}
      {% if meses <= 0 %}
      <script type="text/javascript">
        notificar.error('Debe seleccionar al menos un mes para vender cuentas.');
      </script>
    {% endif %}
    </div>
    <div class="col-md-3"></div>
    <div style="clear: both;"></div>
    <br><br>
    <a href="{{ path('revendedor_rental_index') }}" class="btn btn-default"><i class="fa fa-plus"></i> Volver a Ventas</a>
    {% endblock %}
    {% endembed %}
</div>
{% endblock %}

{% block javascript_footer %}
    <script src="{{ PUBLIC }}{{ asset('/bundles/migoresellerbase/js/clientes.js') }}"></script>
{% endblock %}
