{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rental</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rental.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if rental.date %}{{ rental.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Payment</th>
                <td>{{ rental.payment }}</td>
            </tr>
            <tr>
                <th>Method</th>
                <td>{{ rental.method }}</td>
            </tr>
            <tr>
                <th>Datestart</th>
                <td>{% if rental.dateStart %}{{ rental.dateStart|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateend</th>
                <td>{% if rental.dateEnd %}{{ rental.dateEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rental_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('rental_edit', { 'id': rental.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
