{% extends "MigoAdminTemplateBundle:Template:layout.html.twig" %}

{% block css %}
{% endblock %}

{% block javascript_head %}
<script type="text/javascript">
    $(document).ready(function() {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var mn = mm;
        var yyyy = today.getFullYear();

        if(dd<10) {
            dd = '0'+dd;
        }

        if(mm<10) {
            mm = '0'+mm;
        } 

        if(mm==12) {
            mn = '01';
        }
        else
           mn = parseInt(mm) + 1;

        if(mn<10) {
            mn = '0'+mn;
        }         

        hoy   = yyyy + '-' + mm + '-' + dd;
        mes   = yyyy + '-' + mn + '-' + dd;

        $("#migo_reseller_basebundle_account_updatedAt").val(mes);
        $("#migo_reseller_basebundle_account_createdAt").val(hoy);
       
    });
</script>
{% endblock %}

{% block content_header %}
<section class="content-header">
    <h1>
        Cuentas
        <small>Crear Cuentas</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#">Cuentas</a></li>
        <li class="active">Crear Cuentas</li>
    </ol>
</section>
{% endblock %}

{% block main_content %}
<div class="col-md-12">
    {% embed "MigoAdminTemplateBundle:Template:panel.html.twig" with {boxstyle: 'primary caja-border', box_style: 'min-height: 500px; padding: 20px; '} %}
    {% block header %}{% endblock %}
    {% block body %}
        
        <div class="col-md-3"></div>
        <div class="col-md-6">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary pull-right" style="margin-top: 50px;"><i class="fa fa-save"></i> Guardar datos</button>
        {{ form_end(form) }}
        </div>
        <div class="col-md-3"></div>
        <div style="clear: both;"></div>
        <br><br>
        <a href="{{ path('account_index') }}" class="btn btn-default"><i class="fa fa-reply"></i> Volver a Listado</a>

    {% endblock %}
    {% endembed %}
</div>
{% endblock %}

{% block javascript_footer %}
{% endblock %}

