{% extends 'base.html.twig' %}

{% block body %}
    <h1>Logs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Date</th>
                <th>Activity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td><a href="{{ path('log_show', { 'id': log.id }) }}">{{ log.id }}</a></td>
                <td>{{ log.user }}</td>
                <td>{% if log.date %}{{ log.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ log.activity }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('log_show', { 'id': log.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('log_edit', { 'id': log.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('log_new') }}">Create a new log</a>
        </li>
    </ul>
{% endblock %}
