{% extends 'base.html.twig' %}

{% block body %}
    <h1>Log</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ log.id }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ log.user }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if log.date %}{{ log.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Activity</th>
                <td>{{ log.activity }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('log_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('log_edit', { 'id': log.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
