{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rentaltypes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rentalType in rentalTypes %}
            <tr>
                <td><a href="{{ path('rentaltype_show', { 'id': rentalType.id }) }}">{{ rentalType.id }}</a></td>
                <td>{{ rentalType.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('rentaltype_show', { 'id': rentalType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('rentaltype_edit', { 'id': rentalType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rentaltype_new') }}">Create a new rentalType</a>
        </li>
    </ul>
{% endblock %}
