{% extends "MigoAdminTemplateBundle:Template:layout.html.twig" %}

{% block content_header %}
<section class="content-header">
    <h1>
        Paises
        <small>Lista de Clientes</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#">Paises</a></li>
        <li class="active">Lista de Paises</li>
    </ol>
</section>
{% endblock %}

{% block main_content %}
<div class="col-md-12">
    {% embed "MigoAdminTemplateBundle:Template:panel.html.twig" with {boxstyle: 'primary caja-border', box_style: 'min-height: 500px; padding: 20px; '} %}
    {% block header %}{% endblock %}
    {% block body %}

        <table class="table table-bordered table-hover dataTable table-datatable">
        <thead>
            <tr>
                <th>Nro.</th>
                <th>Nombre</th>
                <th>Valor</th>
                <th style="text-align: center;">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr>
                <td>{{ country.id }}</td>
                <td>{{ country.name }}</td>
                <td>{{ country.value }}</td>
                <td style="text-align: center;">
                        <a class="btn btn-info btn-sm" href="{{ path('country_edit', { 'id': country.id }) }}" title="Editar Pais"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-danger btn-sm" href="{{ path('country_delete', { 'id': country.id }) }}" title="Borrar Pais"><i class="fa fa-user-times"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('country_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Crear Nuevo</a>
    {% endblock %}
    {% endembed %}
</div>
{% endblock %}

{% block javascript_footer %}
    <script src="{{ PUBLIC }}{{ asset('/bundles/migoresellerbase/js/paises.js') }}"></script>
{% endblock %}