
{% set SERVER = "http://localhost/admin/web/app_dev.php" %}
{% set PUBLIC = "http://localhost/admin/web" %}

<!doctype html>
<html lang="en">
<head>
{% block head %}
    <meta charset="utf-8">
    <title>{% block title %}YOPMAIL{% endblock %}</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{{ PUBLIC }}/bundles/migoadmintemplate/css/AdminLTE.css" media="screen">
    <script src="{{ PUBLIC }}/bundles/migoadmintemplate/lib/jquery-1.11.1.min.js" type="text/javascript"></script>
    <link rel="shortcut icon" href="{{ PUBLIC }}/bundles/migoresellerfront/img/profile.png">
    <link href="{{ PUBLIC }}/bundles/migoadmintemplate/css/select2.min.css" rel="stylesheet" />
    <link href="{{ PUBLIC }}/bundles/migoadmintemplate/css/daterangepicker.css" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="{{ PUBLIC }}/bundles/migoadmintemplate/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="{{ PUBLIC }}/bundles/migoadmintemplate/css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="{{ PUBLIC }}/bundles/migoadmintemplate/css/ionicons.css" media="screen">
    <link rel="stylesheet" href="{{ PUBLIC }}/bundles/migoadmintemplate/css/buttons.dataTables.min.css" media="screen">
    <link rel="stylesheet" href="{{ PUBLIC }}/bundles/migoadmintemplate/css/dataTables.bootstrap.css" media="screen">
    <link rel="stylesheet" href="{{ PUBLIC }}/bundles/migoadmintemplate/css/jquery.toast.css" media="screen">
    <script src="{{ PUBLIC }}/bundles/migoadmintemplate/js/jquery-1.12.4.js"></script>
    <script src="{{ PUBLIC }}/bundles/migoadmintemplate/js/jquery.toast.js"></script>
    <script src="{{ PUBLIC }}/bundles/migoadmintemplate/js/notification.js"></script>
    <script src="{{ PUBLIC }}/bundles/migoadmintemplate/js/select2.min.js"></script>
    <script src="{{ PUBLIC }}/bundles/migoadmintemplate/js/jQuery.print.js"></script>
    <link href="{{ PUBLIC }}/bundles/migoadmintemplate/css/bootstrap-timepicker.min.css" rel="stylesheet" media="screen"/>
    <link href="{{ PUBLIC }}/bundles/migoadmintemplate/css/datepicker3.css" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="{{ PUBLIC }}/bundles/migoadmintemplate/css/system.css" media="screen">
    <script type="text/javascript">
        $(function() {
            var uls = $('.sidebar-nav > ul > *').clone();
            uls.addClass('visible-xs');
            $('#main-menu').append(uls.clone());
        });
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
            });
        });
    </script>
    {% block css %}{% endblock %}
    {% block javascript_head %}{% endblock %}
{% endblock %}
</head>
<body class="skin-blue layout-top-nav">
<div class="loader"></div>
{% block wraper %}
	{% block navbar %}
	    {% include 'MigoAdminTemplateBundle:Template:menuNavLte.html.twig' %}
    {% endblock %}
    <div class="wrapper">
    {% block content %}
    <div class="container">
        
    	{% block content_header %}
        <section class="content-header">
        <h1>
          Top Navigation
          <small>Example 2.0</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a href="#">Layout</a></li>
          <li class="active">Top Navigation</li>
        </ol>
      </section>
    	{% endblock %}
        
	    <div class="main-content content-full-main" style="padding-top: 20px;">
	    {% block main_content %}{% endblock %}  
        <div style="clear: both;"></div>    
		</div>

        {% block flash_message %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    {% if type == 'success' %}
                        <script type="text/javascript">notificar.success('{{ message }}');</script>
                    {% elseif type == 'info' %}
                        <script type="text/javascript">notificar.info('{{ message }}');</script>
                    {% elseif type == 'warning' %}
                        <script type="text/javascript">notificar.warning('{{ message }}');</script>
                    {% elseif type == 'error' %}
                        <script type="text/javascript">notificar.error('{{ message }}');</script>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endblock %}
    </div>
	{% endblock %}
    <div style="clear: both;"></div>
    </div>
    <div style="clear: both;"></div>
    {% block footer %}
    <footer class="main-footer">
        <div class="container">
          <div class="pull-right hidden-xs">
            <b>Version</b> 2.0
          </div>
          <strong>Desarrollado por: <a href="http://www.twitter.com/milang90">Milan Gotera</a></strong
        </div>
    </footer>
    {% endblock %}
{% endblock %}
    <script src="{{ PUBLIC }}/bundles/migoadmintemplate/js/bootstrap.js"></script>
    <script src="{{ PUBLIC }}/bundles/migoadmintemplate/js/jquery.dataTables.min.js"></script>
    <script src="{{ PUBLIC }}/bundles/migoadmintemplate/js/dataTables.bootstrap.min.js"></script>
    <script src="{{ PUBLIC }}/bundles/migoadmintemplate/js/dataTables.buttons.min.js"></script>
    <script src="{{ PUBLIC }}/bundles/migoadmintemplate/js/buttons.print.min.js"></script>
    <script src="{{ PUBLIC }}/bundles/migoadmintemplate/js/jszip.min.js"></script>
    <script src="{{ PUBLIC }}/bundles/migoadmintemplate/js/pdfmake.min.js"></script>
    <script src="{{ PUBLIC }}/bundles/migoadmintemplate/js/vfs_fonts.js"></script>
    <script src="{{ PUBLIC }}/bundles/migoadmintemplate/js/buttons.html5.min.js"></script>
    <script src="{{ PUBLIC }}//bundles/migoadmintemplate/js/moment.min.js"></script>
    <script src="{{ PUBLIC }}/bundles/migoadmintemplate/js/bootstrap-timepicker.min.js"></script>
    <script src="{{ PUBLIC }}/bundles/migoadmintemplate/js/bootstrap-datepicker.js"></script>
    <script src="{{ PUBLIC }}/bundles/migoadmintemplate/js/daterangepicker.js"></script>
    <div style="display: none;" id="server">{{ SERVER }}</div>
    <div style="display: none;" id="public">{{ PUBLIC }}</div>
    <div style="display: none;" id="fechalocal">{{"now"|date("Y-m-d")}}</div>
    {% block javascript_footer %}{% endblock %}
    <script src="{{ PUBLIC }}/bundles/migoadmintemplate/js/system.js"></script>
</body>
</html>