		<header class="main-header">
		    <nav class="navbar navbar-static-top">
		      <div class="container">
		        <div class="navbar-header">
		          <a href="{{SERVER}}" class="navbar-brand">
		          <span class="fa fa-keyboard-o"></span>
					YOPMAIL | 
					{% if app.user %}
						{% if app.user.getRoles[0] == 'ROLE_ADMIN' %}
							ADMIN
						{% elseif app.user.getRoles[0] == 'ROLE_MAYORISTA' %}
							MAYORISTA
						{% elseif app.user.getRoles[0] == 'ROLE_MODERADOR' %}
							MODERADOR
						{% endif %}
					{% else %}
						PREMIUM
					{% endif %}
		          </a>
		          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
		            <i class="fa fa-bars"></i>
		          </button>
		        </div>

		        <!-- Collect the nav links, forms, and other content for toggling -->
		        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
		          <ul class="nav navbar-nav">
		          	{% set menu = 0 %}

					{% set activo = app.request.attributes.get('_route') %}

					{% set menus = app.request.requesturi|split('/') %}

						{% if activo == 'home_page' %}
							{% set menu = 1 %}
						{% endif %}
		          		<li class="{% if menu == 1 %}active{% endif %}"><a href="{{ path('home_page') }}">Home</a></li>
		          	{% if app.user %}
		          		{% if app.user.getRoles[0] == 'ROLE_ADMIN' %}
			          		{% if 'client' in menus %}
								{% set menu = 2 %}
							{% elseif 'account' in menus %}
								{% set menu = 3 %}
							{% elseif 'user' in menus %}
								{% set menu = 4 %}
							{% elseif 'product' in menus %}
								{% set menu = 5 %}
							{% elseif 'credits' in menus %}
					      		{% set menu = 6 %}
					    	{% elseif 'country' in menus %}
					      		{% set menu = 7 %}
					      	{% elseif 'support' in menus %}
					      		{% set menu = 8 %}
					      	{% elseif 'rental' in menus %}
								{% set menu = 9 %}
					    	{% endif %}
					        <li class="{% if menu == 2 %}active{% endif %}"><a href="{{ path('client_index') }}">Clientes</a></li>
					        <li class="{% if menu == 3 %}active{% endif %}"><a href="{{ path('account_index') }}">Cuentas</a></li>
					        <li class="{% if menu == 4 %}active{% endif %}"><a href="{{ path('user_index') }}">Usuarios</a></li>
					        <li class="{% if menu == 5 %}active{% endif %}"><a href="{{ path('product_index') }}">Productos</a></li>
					        <li class="{% if menu == 9 %}active{% endif %}"><a href="{{ path('rental_index') }}">Ventas</a></li>
					        <li class="{% if menu == 6 %}active{% endif %}"><a href="{{ path('credits_index') }}">Créditos</a></li>
					        <li class="{% if menu == 7 %}active{% endif %}"><a href="{{ path('country_index') }}">Paises</a></li>
					        <li class="{% if menu == 8 %}active{% endif %}"><a href="{{ path('support_index') }}">Soporte</a></li>
						{% endif %}
						{% if app.user.getRoles[0] == 'ROLE_MAYORISTA' %}
			          		{% if 'client' in menus %}
								{% set menu = 2 %}
							{% elseif 'rental' in menus %}
								{% set menu = 3 %}
							{% elseif 'support' in menus %}
								{% set menu = 4 %}
							{% elseif 'sales' in menus %}
								{% set menu = 5 %}
							{% elseif 'credits' in menus %}
					      		{% set menu = 6 %}
					    	{% endif %}
					        <li class="{% if menu == 2 %}active{% endif %}"><a href="{{ path('revendedor_client_index') }}">Clientes</a></li>
					        <li class="{% if menu == 3 %}active{% endif %}"><a href="{{ path('revendedor_rental_index') }}">Cuentas</a></li>
					        <li class="{% if menu == 4 %}active{% endif %}"><a href="{{ path('revendedor_support_index') }}">Soporte</a></li>
					        <li class="{% if menu == 5 %}active{% endif %}"><a href="{{ path('revendedor_sale_index') }}">Ventas</a></li>
					        <li class="{% if menu == 6 %}active{% endif %}"><a href="{{ path('revendedor_credits_index') }}">Créditos</a></li>
						{% endif %}
						{% if app.user.getRoles[0] == 'ROLE_MODERADOR' %}
							{% if 'user' in menus %}
								{% set menu = 7 %}
			          		{% elseif 'client' in menus %}
								{% set menu = 2 %}
							{% elseif 'account' in menus %}
								{% set menu = 3 %}
							{% elseif 'support' in menus %}
								{% set menu = 4 %}
							{% elseif 'rental' in menus %}
								{% set menu = 5 %}
							{% elseif 'credits' in menus %}
					      		{% set menu = 6 %}
					    	{% endif %}
					    	<li class="{% if menu == 7 %}active{% endif %}"><a href="{{ path('moderador_user_index') }}">Mayoristas</a></li>
					        <li class="{% if menu == 2 %}active{% endif %}"><a href="{{ path('moderador_client_index') }}">Clientes</a></li>
					        <li class="{% if menu == 3 %}active{% endif %}"><a href="{{ path('moderador_account_index') }}">Cuentas</a></li>
					        <li class="{% if menu == 4 %}active{% endif %}"><a href="{{ path('moderador_support_index') }}">Soporte</a></li>
					        <li class="{% if menu == 5 %}active{% endif %}"><a href="{{ path('moderador_rental_index') }}">Ventas</a></li>
					        <li class="{% if menu == 6 %}active{% endif %}"><a href="{{ path('moderador_credits_index') }}">Créditos</a></li>
						{% endif %}
					{% endif %}
		          </ul>
		        </div>
		        <!-- /.navbar-collapse -->

		        <!-- Navbar Right Menu -->
		        <div class="navbar-custom-menu">
		          <ul class="nav navbar-nav">
		            <!-- User Account Menu -->
		            <li class="dropdown user user-menu">
		              <!-- Menu Toggle Button -->
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		                <!-- The user image in the navbar-->
		                <img src="{{ PUBLIC }}/bundles/migoadmintemplate/images/default_avatar.png" class="user-image" alt="User Image">
		                <!-- hidden-xs hides the username on small devices so only the image appears. -->
		                <span class="hidden-xs">{% if app.user %}{{ app.user.getFullName }}{% else %} ¿Eres Usuario? {% endif %}</span>
		              </a>
		              <ul class="dropdown-menu">
		                <!-- The user image in the menu -->
		                <li class="user-header">
		                  <img src="{{ PUBLIC }}/bundles/migoadmintemplate/images/default_avatar.png" class="img-circle" alt="User Image">

		                  <p>
		                    {% if app.user %}{{ app.user.getFullName }}{% else %}Accede Ahora{% endif %}
		                    <small>Member since Nov. 2012</small>
		                  </p>
		                </li>
		                <!-- Menu Body -->
		                <!-- Menu Footer-->
		                <li class="user-body">
		                  <!--<div class="pull-left">
		                    <a href="#" class="btn btn-default btn-flat">Mostrar Datos</a>
		                  </div>-->
		                  <div class="pull-right">
		                    <a href="{% if app.user %}{{ path('login_logout') }}{% else %}{{ path('login_login') }}{% endif %}" class="btn btn-default btn-flat">{% if app.user %}Cerrar{% else %}Iniciar{% endif %} Sesión</a>
		                  </div>
		                </li>
		              </ul>
		            </li>
		          </ul>
		        </div>
		        <!-- /.navbar-custom-menu -->
		      </div>
		      <!-- /.container-fluid -->
		    </nav>
		  </header>