		<div class="navbar navbar-default" role="navigation">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          {% block navbar_logo %}
	          <a class="" href="#">
	          	<span class="navbar-brand">
	          		<span class="fa fa-paper-plane"></span> Migo AdminTB
	          	</span>
	          </a>
	          {% endblock %}
	        </div>

	        <div class="navbar-collapse collapse" style="height: 1px;">
	          <ul id="main-menu" class="nav navbar-nav navbar-right">
	            <li class="dropdown hidden-xs">
	            	{% block navbar_menu %}
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                    <span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"></span> Mgotera
	                    <i class="fa fa-caret-down"></i>
	                </a>
		            <ul class="dropdown-menu">
		                <li><a href="#">My Account</a></li>
		                <li class="divider"></li>
		                <li class="dropdown-header">Admin Panel</li>
		                <li><a href="#">Users</a></li>
		                <li><a href="#">Security</a></li>
		                <li><a tabindex="-1" href="#">Payments</a></li>
		                <li class="divider"></li>
		                <li><a tabindex="-1" href="#">Logout</a></li>
		            </ul>
		            {% endblock %}
	            </li>
	          </ul>
	        </div>
	      </div>
	    </div>