		<div class="sidebar-nav navbar-full">
		    <ul>
		    {% block sidebar_menu %}
			    <li>
			    	<a href="#" data-target=".dashboard-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-fw fa-dashboard"></i> Dashboard<i class="fa fa-collapse"></i></a>
			    </li>

			    <li>
			    	<ul class="dashboard-menu nav nav-list collapse in">
			            <li><a href="#"><span class="fa fa-caret-right"></span> Main</a></li>
			            <li ><a href="#"><span class="fa fa-caret-right"></span> User List</a></li>
			            <li ><a href="#"><span class="fa fa-caret-right"></span> User Profile</a></li>
			            <li ><a href="#"><span class="fa fa-caret-right"></span> Media</a></li>
			            <li ><a href="#"><span class="fa fa-caret-right"></span> Calendar</a></li>
			    	</ul>
			    </li>

			    <li>
			    	<a href="#" data-target=".premium-menu" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-fighter-jet"></i> Premium Features<i class="fa fa-collapse"></i></a>
			    </li>

			    <li>
			    	<ul class="premium-menu nav nav-list collapse">
			            <li class="visible-xs visible-sm"><a href="#">- Premium features require a license -</a></span>
			            <li ><a href="#"><span class="fa fa-caret-right"></span> Enhanced Profile</a></li>
			            <li ><a href="#"><span class="fa fa-caret-right"></span> Blog</a></li>
			            <li ><a href="#"><span class="fa fa-caret-right"></span> Blog Page</a></li>
			            <li ><a href="#"><span class="fa fa-caret-right"></span> Pricing Tables</a></li>
			            <li ><a href="#"><span class="fa fa-caret-right"></span> Upgrade Account</a></li>
			            <li ><a href="#"><span class="fa fa-caret-right"></span> Widgets</a></li>
			            <li ><a href="#"><span class="fa fa-caret-right"></span> Activity Timeline</a></li>
			            <li ><a href="#"><span class="fa fa-caret-right"></span> Enhanced Users List</a></li>
			            <li ><a href="#"><span class="fa fa-caret-right"></span> Enhanced Media</a></li>
			            <li ><a href="#"><span class="fa fa-caret-right"></span> Invoice</a></li>
			            <li ><a href="#"><span class="fa fa-caret-right"></span> Advanced Tools</a></li>
			            <li ><a href="#"><span class="fa fa-caret-right"></span> Additional Color Themes</a></li>
			    	</ul>
			    </li>

			    <li>
			    	<a href="#" data-target=".accounts-menu" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-briefcase"></i> Account <span class="label label-info">+3</span></a>
			    </li>

			    <li>
			    	<ul class="accounts-menu nav nav-list collapse">
			            <li ><a href="#"><span class="fa fa-caret-right"></span> Sign In</a></li>
			            <li ><a href="#"><span class="fa fa-caret-right"></span> Sign Up</a></li>
			            <li ><a href="#"><span class="fa fa-caret-right"></span> Reset Password</a></li>
			    	</ul>
			    </li>

			    <li>
			    	<a href="#" data-target=".legal-menu" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-legal"></i> Legal<i class="fa fa-collapse"></i></a>
			    </li>

			    <li>
			    	<ul class="legal-menu nav nav-list collapse">
			            <li ><a href="#"><span class="fa fa-caret-right"></span> Privacy Policy</a></li>
			            <li ><a href="#"><span class="fa fa-caret-right"></span> Terms and Conditions</a></li>
			    	</ul>
			    </li>

			    <li>
			    	<a href="#" class="nav-header"><i class="fa fa-fw fa-question-circle"></i> Help</a>
			    </li>

			    <li>
			    	<a href="#" class="nav-header"><i class="fa fa-fw fa-comment"></i> Faq</a>
			   	</li>
			    
			    <li>
			    	<a href="#" class="nav-header" target="blank"><i class="fa fa-fw fa-heart"></i> Get Premium</a>
			    </li>
			    {% endblock %}
	        </ul>
	    </div>