{% set modalclass = modalclass is defined ? modalclass : 'default' %}
{% set modalid = modalid is defined ? modalid : 'modal-base' %}
{% set dialog = dialog is defined ? dialog : '' %}
{% set modalhide = modalhide is defined ? modalhide : 1 %}

<!-- Modal -->
<div class="modal fade modal-{{modalclass}}" id="{{modalid}}" tabindex="-1" role="dialog" aria-labelledby="{{modalid}}Label" {% if modalhide == 0 %}data-backdrop="static" data-keyboard="true" {% endif %}>
    <div class="modal-dialog {{dialog}}" role="document">
        <div class="modal-content">
            {% block top %}
            <div class="modal-header">
                {% block header %}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="x-modal"><i aria-hidden="true" class="fa fa-times-circle"></i></button>
                <h4 class="modal-title" id="{{modalid}}-title">{% block title %}{% endblock %}</h4>
                {% endblock %}
            </div>
            {% endblock %}
            <div class="modal-body" id="{{modalid}}-body">
                {% block body %}{% endblock %}
            </div>
            <div class="modal-footer" id="{{modalid}}-footer">
                {% block footer %}{% endblock %}
            </div>
        </div>
    </div>
</div>
