{% set boxstyle = boxstyle is defined ? boxstyle : 'default' %}
{% set box_style = box_style is defined ? box_style : 'default' %}
{% set body_style = body_style is defined ? body_style : '' %}
{% set rojo = rojo is defined ? rojo : 0 %}
<div class="box box-{{boxstyle}}" style="{{box_style}} {% if rojo == 1 %}background-image: url('{{ PUBLIC }}/bundles/migoresellerfront/img/rojo.png') !important;{% endif %}">
    {% block header %}
    <div class="box-header with-border">
    {% block title %}{% endblock %}
    </div>
    {% endblock %}
<div class="box-body" style="border: 0px !important; {{body_style}}">{% block body %}{% endblock %} </div>
</div>
