{% set sale_class = sale_class is defined ? sale_class : '' %}

<div class="nav-tabs-custom  {{sale_class}}" style="cursor: move;">
    <!-- Tabs within a box -->
    <ul class="nav nav-tabs pull-right ui-sortable-handle" style="padding-bottom: 10px;">
        {% block sales_tap %}
            <!--<th><li class="active"><a href="#id_content" data-toggle="tab" aria-expanded="true">Titulo</a></li></th>-->
        {% endblock %}
        {% block sales_title %}
            <!--<li class="pull-left header"><i class="fa fa-inbox"></i>TITULO</li>-->
        {% endblock %}
    </ul>
    <div class="tab-content no-padding">
    <!-- Morris chart - Sales -->
        {% block sales_content %}
            <!--<div class="chart tab-pane  active" id="id_content" style="position: relative; height: 300px;"></div>-->
        {% endblock %}
    </div>
</div>
