{% set headers = headers is defined ? headers : [] %}
{% set table_class = table_class is defined ? table_class : '' %}
{% set table_id = table_id is defined ? table_id : '' %}
{% set table_order = table_order is defined ? table_order : '[[ 0, "asc" ]]' %}
{% set headers_style = headers_style is defined ? headers_style : '' %}

<table data-order="{{table_order}}" id="{{table_id}}" class="table table-bordered {{table_class}}">
   {% if headers is not empty %}
       <thead style="{{headers_style}}">
           <tr>
           {% for col in headers %}
               <th>{{col}}</th>
           {% endfor %}
           </tr>
       </thead>
   {% endif %}
   <tbody>{% block table_tbody %}{% endblock %}</tbody>
   {% if headers is not empty %}
       <tfoot style="{{headers_style}}">
           <tr>
           {% for col in headers %}
               <th>{{col}}</th>
           {% endfor %}
           </tr>
       </tfoot>
   {% endif %}
</table>
