{% set widget_class = widget_class is defined ? widget_class : '' %}
{% set widget_icono = widget_icono is defined ? widget_icono : '' %}
{% set widget_option = widget_option is defined ? widget_option : '' %}

<div class="small-box {{widget_class}}" {% block widget_option %}{% endblock %} >
    <div class="inner">
        <p>{% block widget_title %}{% endblock %}</p>
        <h3>{% block widget_value %}{% endblock %}</h3>
    </div>
    <div class="icon"><i class="{{widget_icono}}"></i></div>
    {% block widget_link %}
        <!--<a href="#" class="small-box-footer">M&aacute;s informaci&oacute;n <i class="fa fa-arrow-circle-right"></i></a>-->
    {% endblock %}
</div>
