{% extends 'base.html.twig' %}

{% block body %}
    <h1>Credit</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ credit.id }}</td>
            </tr>
            <tr>
                <th>Credit</th>
                <td>{{ credit.credit }}</td>
            </tr>
            <tr>
                <th>Method</th>
                <td>{{ credit.method }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if credit.date %}{{ credit.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('credits_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('credits_edit', { 'id': credit.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
