{% extends "MigoAdminTemplateBundle:Template:layout.html.twig" %}

{% block content_header %}
<section class="content-header">
    <h1>
        Usuarios
        <small>Historial de Créditos</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#">Usuarios</a></li>
        <li class="active">Historial de Créditos</li>
    </ol>
</section>
{% endblock %}

{% block main_content %}
<div class="col-md-12">
    {% embed "MigoAdminTemplateBundle:Template:panel.html.twig" with {boxstyle: 'primary caja-border', box_style: 'min-height: 500px; padding: 20px; '} %}
    {% block header %}{% endblock %}
    {% block body %}

        <table class="table table-bordered table-hover dataTable table-datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Créditos</th>
                <th>Method</th>
                <th>Operación</th>
                <th>Fecha</th>
                <th>Mayorista</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
        {% for credit in credits %}
            <tr>
                <td>{{ credit.id }}</td>
                <td>{{ credit.credit }}</td>
                <td>{{ credit.method }}</td>
                <td>{{ credit.operation }}</td>
                <td>{% if credit.date %}{{ credit.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ credit.user.getFullName() }} ({{ credit.user }})</td>
                <td>{{ credit.admin.getFullName() }} ({{ credit.admin }})</td>
                </tr>
            {% endfor %}
            </tbody>
                <tfoot>
                <tr>
                    <th>TOTAL</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>

        <a href="{{ path('credits_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Asignar Créditos</a>
    {% endblock %}
    {% endembed %}
</div>
{% endblock %}

{% block javascript_footer %}
    <script src="{{ PUBLIC }}{{ asset('/bundles/migoresellerbase/js/credits.user.js') }}"></script>
{% endblock %}
