{% extends "MigoAdminTemplateBundle:Template:layout.html.twig" %}

{% block content_header %}
<section class="content-header">
    <h1>
        Soporte
        <small>Historial de Soporte</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#">Soporte</a></li>
        <li class="active">Historial de Soporte</li>
    </ol>
</section>
{% endblock %}

{% block main_content %}
<div class="col-md-12">
    {% embed "MigoAdminTemplateBundle:Template:panel.html.twig" with {boxstyle: 'primary caja-border', box_style: 'min-height: 500px; padding: 20px; '} %}
    {% block header %}{% endblock %}
    {% block body %}

        <table class="table table-bordered table-hover dataTable table-datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Revendedor</th>
                <th>Motivo</th>
                <th>Nota</th>
                <th>Fecha</th>
                <th>Respuesta</th>
                <th>Estatus</th>
                <th style="text-align: center;">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for support in supports %}
            <tr style="{% if support.status == 'Registrado' %}font-weight: bold; background-color: #f7f7f7;{% endif %}"">
                <td>{{ support.id }}</td>
                <td>{{ support.reseller }}</td>
                <td>{{ support.operation }}</td>
                <td>{{ support.note }}</td>
                <td>{% if support.date %}{{ support.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ support.response }}</td>
                <td>{{ support.status }}</td>
                <td style="text-align: center;">
                    {% if support.status == 'Registrado' %}
                    <a class="btn btn-info btn-sm" href="{{ path('moderador_support_edit', { 'id': support.id }) }}" title="Actualizar"><i class="fa fa-pencil"></i> Atender</a>
                    {% else %}
                    Atendido
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <a href="{{ path('moderador_support_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Realizar Soporte</a>
    {% endblock %}
    {% endembed %}
</div>
{% endblock %}

{% block javascript_footer %}
    <script src="{{ PUBLIC }}{{ asset('/bundles/migoresellerbase/js/creditosReseller.js') }}"></script>
{% endblock %}
