{% extends "MigoAdminTemplateBundle:Template:layout.html.twig" %}

{% block content_header %}
<section class="content-header">
    <h1>
        Ventas
        <small>Registrar Ventas</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#">Ventas</a></li>
        <li class="active">Registrar Ventas</li>
    </ol>
</section>
{% endblock %}

{% block main_content %}
<div class="col-md-12">
    {% embed "MigoAdminTemplateBundle:Template:panel.html.twig" with {boxstyle: 'primary caja-border', box_style: 'min-height: 500px; padding: 20px; '} %}
    {% block header %}{% endblock %}
    {% block body %}
    <div class="col-md-3"></div>
    <div class="col-md-6">

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <button type="submit" class="btn btn-primary pull-right" style="margin-top: 50px;"><i class="fa fa-save"></i> Guardar datos</button>
    {{ form_end(edit_form) }}

    </div>
    <div class="col-md-3"></div>
    <div style="clear: both;"></div>
    <br><br>
    <a href="{{ path('rental_index') }}" class="btn btn-default"><i class="fa fa-plus"></i> Volver a Ventas</a>
    {% endblock %}
    {% endembed %}
</div>
{% endblock %}

