{% extends "MigoAdminTemplateBundle:Template:layout.html.twig" %}

{% block css %}
{% endblock %}

{% block content_header %}
<section class="content-header">
    <h1>
        Ventas
        <small>Editar Venta</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#">Ventas</a></li>
        <li class="active">Editar Venta</li>
    </ol>
</section>
{% endblock %}

{% block main_content %}
<div class="col-md-12">
    {% embed "MigoAdminTemplateBundle:Template:panel.html.twig" with {boxstyle: 'primary caja-border', box_style: 'min-height: 500px; padding: 20px; '} %}
    {% block header %}{% endblock %}
    {% block body %}
        
        <div class="col-md-3"></div>
        <div class="col-md-6">

        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <div class="form-group">
                <label>Cuenta</label>
                <select class="form-control"  name="account" required="required">
                    {% for rental in rentals %}
                    <option value="{{ rental.account.getId() }}"  {% if sales.account.getId()== rental.account.getId() %}selected="selected"{% endif %}>{{ rental.account }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Cliente</label>
                <select class="form-control"  name="user" required="required">
                    {% for client in clients %}
                    <option value="{{ client.id }}" {% if sales.user.getId()== client.id %}selected="selected"{% endif %}>{{ client.firsName }} {{ client.lastName }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Activo</label>
                <select class="form-control" name="status" required="required">
                    <option value="1" {% if sales.status == 1 %}selected="selected"{% endif %}>SI</option>
                    <option value="0" {% if sales.status == 0 %}selected="selected"{% endif %}>NO</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary pull-right" style="margin-top: 50px;"><i class="fa fa-save"></i> Guardar datos</button>
        {{ form_end(edit_form) }}

    </div>
        <div class="col-md-3"></div>
        <div style="clear: both;"></div>
        <br><br>
        <a href="{{ path('revendedor_sale_index') }}" class="btn btn-default"><i class="fa fa-reply"></i> Volver a Listado</a>

    {% endblock %}
    {% endembed %}
</div>
{% endblock %}

{% block javascript_footer %}
{% endblock %}
