{% extends "MigoAdminTemplateBundle:Template:layout.html.twig" %}

{% block content_header %}
<section class="content-header">
    <h1>
        Ventas
        <small>Mis Ventas</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#">Ventas</a></li>
        <li class="active">Mis Ventas</li>
    </ol>
</section>
{% endblock %}

{% block main_content %}
<div class="col-md-12">
    {% embed "MigoAdminTemplateBundle:Template:panel.html.twig" with {boxstyle: 'primary caja-border', box_style: 'min-height: 500px; padding: 20px; '} %}
    {% block header %}{% endblock %}
    {% block body %}
    <div style="float: left; width: 100%; height: auto; overflow-x: auto; padding: 10px;">
    <table class="table table-bordered table-hover dataTable table-datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cliente</th>
                <th>Producto</th>
                <th>Cuenta</th>
                <th>Clave</th>
                <th>Método</th>
                <th>Venta</th>
                <th>Vence</th>
                <th>Meses</th>
                <th>Perfiles</th>
                <th>Pago</th>
                <th>Activa</th>
                <th style="text-align: center;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                <td>{{ sale.id }}</td>
                <td>{{ sale.user }}</td>
                <td>{{ sale.account.getProduc() }}</td>
                <td>{{ sale.account }}</td>
                <td>{{ sale.account.getPassword() }}</td>
                <td>{{ sale.method }}</td>
                <td>{% if sale.dateStart %}{{ sale.dateStart|date('Y-m-d') }}{% endif %}</td>
                <td>{% if sale.dateEnd %}{{ sale.dateEnd|date('Y-m-d') }}{% endif %}</td>
                <td>{{ sale.months }}</td>
                <td>{{ sale.profiles }}</td>
                <td>{{ sale.payment }}</td>
                <td>{% if sale.status %}SI{% else %}NO{% endif %}</td>
                <td style="text-align: center;">
                    <a class="btn btn-info btn-sm" href="{{ path('revendedor_sale_edit', { 'id': sale.id }) }}" title="Editar Venta"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <br>
    <a href="{{ path('revendedor_sale_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Venta Nuevo</a>
    {% endblock %}
    {% endembed %}
</div>
{% endblock %}

{% block javascript_footer %}
    <script src="{{ PUBLIC }}{{ asset('/bundles/migoresellerbase/js/clientes.js') }}"></script>
{% endblock %}
