{% extends "MigoAdminTemplateBundle:Template:layout.html.twig" %}

{% block css %}
{% endblock %}

{% block content_header %}
<section class="content-header">
    <h1>
        Ventas
        <small>Nueva Venta</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#">Ventas</a></li>
        <li class="active">Nueva Venta</li>
    </ol>
</section>
{% endblock %}

{% block main_content %}
<div class="col-md-12">
    {% embed "MigoAdminTemplateBundle:Template:panel.html.twig" with {boxstyle: 'primary caja-border', box_style: 'min-height: 500px; padding: 20px; '} %}
    {% block header %}{% endblock %}
    {% block body %}
        
        <div class="col-md-3"></div>
        <div class="col-md-6">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="form-group">
                <label>Cuenta</label>
                <select class="form-control"  name="account" required="required">
                    {% for rental in rentals %}
                    <option value="{{ rental.account.getId() }}">{{ rental.account }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Cliente</label>
                <select class="form-control"  name="user" required="required">
                    {% for client in clients %}
                    <option value="{{ client.id }}">{{ client.firsName }} {{ client.lastName }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary pull-right" style="margin-top: 50px;"><i class="fa fa-save"></i> Guardar datos</button>
        {{ form_end(form) }}
        </div>
        <div class="col-md-3"></div>
        <div style="clear: both;"></div>
        <br><br>
        <a href="{{ path('revendedor_sale_index') }}" class="btn btn-default"><i class="fa fa-reply"></i> Volver a Listado</a>
        {% if error %}
        <script type="text/javascript">
            notificar.error('Excede el número máximo de<br> {{error}} perfiles permitidos.');
            $('#migo_reseller_basebundle_sale_profiles').focus();
        </script>
        {% endif %}
    {% endblock %}
    {% endembed %}
</div>
{% endblock %}

{% block javascript_footer %}
{% endblock %}

