{% extends "MigoAdminTemplateBundle:Template:layout.html.twig" %}

{% block content_header %}
<section class="content-header">
    <h1>
        Productos
        <small>Lista de Productos</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#">Productos</a></li>
        <li class="active">Lista de Productos</li>
    </ol>
</section>
{% endblock %}

{% block main_content %}
<div class="col-md-12">
    {% embed "MigoAdminTemplateBundle:Template:panel.html.twig" with {boxstyle: 'primary caja-border', box_style: 'min-height: 500px; padding: 20px; '} %}
    {% block header %}{% endblock %}
    {% block body %}
    <table class="table table-bordered table-hover dataTable table-datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Nombre</th>
                <th>Nota</th>
                <th>Costo</th>
                <th>Cuentas</th>
                <th style="text-align: center;">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.type }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.note }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.rental }}</td>
                <td style="text-align: center;">
                        <a class="btn btn-info btn-sm" href="{{ path('product_edit', { 'id': product.id }) }}" title="Editar Producto"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-danger btn-sm" href="{{ path('product_delete', { 'id': product.id }) }}" title="Borrar Producto"><i class="fa fa-user-times"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <a href="{{ path('product_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Crear Nuevo</a>
    {% endblock %}
    {% endembed %}
</div>
{% endblock %}

{% block javascript_footer %}
    <script src="{{ PUBLIC }}{{ asset('/bundles/migoresellerbase/js/productos.js') }}"></script>
{% endblock %}
