{% extends "MigoAdminTemplateBundle:Template:layout.html.twig" %}

{% block content_header %}
<section class="content-header">
	<h1>
		Dashboard
		<small>Home Page</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		<li><a href="#">Home Page</a></li>
		<li class="active">Bienvenido</li>
	</ol>
</section>
{% endblock %}

{% block main_content %}
<div class="col-md-12">
	{% embed "MigoAdminTemplateBundle:Template:panel.html.twig" with {boxstyle: 'primary caja-border', box_style: 'min-height: 500px;'} %}
    {% block header %}{% endblock %}
    {% block body %}
    Dashboard
    {% endblock %}
    {% endembed %}
</div>
{% endblock %}

{% block javascript_footer %}
{% endblock %}