{% extends "MigoAdminTemplateBundle:Template:layout.html.twig" %}

{% block content_header %}
<section class="content-header">
    <h1>
        Cuentas
        <small>Lista de Cuentas</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#">Cuentas</a></li>
        <li class="active">Lista de Cuentas</li>
    </ol>
</section>
{% endblock %}

{% block main_content %}
<div class="col-md-12">
    {% embed "MigoAdminTemplateBundle:Template:panel.html.twig" with {boxstyle: 'primary caja-border', box_style: 'min-height: 500px; padding: 20px; '} %}
    {% block header %}{% endblock %}
    {% block body %}
    <table class="table table-bordered table-hover dataTable table-datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Producto</th>
                <th>Créditos</th>
                <th>Email</th>
                <th>Password</th>
                <th>Activación</th>
                <th>Vencimiento</th>
                <th>Estatus</th>
                <th style="text-align: center;">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td>{{ account.id }}</td>
                <td>{{ account.produc }}</td>
                <td>{{ account.monto }}</td>
                <td>{{ account.email }}</td>
                <td>{{ account.password }}</td>
                <td>{% if account.createdAt %}{{ account.createdAt|date('Y-m-d') }}{% endif %}</td>
                <td>{% if account.updatedAt %}{{ account.updatedAt|date('Y-m-d') }}{% endif %}</td>
                <td>{{ account.status }}</td>
                <td style="text-align: center;">
                    <a class="btn btn-info btn-sm" href="{{ path('moderador_account_edit', { 'id': account.id }) }}" title="Editar Cuenta"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-danger btn-sm" href="{{ path('moderador_account_delete', { 'id': account.id }) }}" title="Borrar Cuenta"><i class="fa fa-user-times"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('moderador_account_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Crear Nueva</a>
    {% endblock %}
    {% endembed %}
</div>
{% endblock %}

{% block javascript_footer %}
    <script src="{{ PUBLIC }}{{ asset('/bundles/migoresellerbase/js/cuentas.js') }}"></script>
{% endblock %}
